
body {
  background-color: #1e505b;
  color: #fff;
}
.app-container {
  max-width: 750px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

.thread-list {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  flex: 1;
  overflow-y: auto
}

.thread-item {
  padding: 10px;
  margin: 0 5px;
  cursor: pointer;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.thread-item.active {
  background-color: #007bff;
  color: #fff;
}

.conversation {
  margin-bottom: 20px;
}

.message {
  padding: 10px;
  margin-bottom: 5px;
}

.message-icon {
  margin-right: 5px;
  vertical-align: middle;
}

.message code {
  color: #f7f5f5; 
  padding: 2px;
}

.user {
  background-color: rgb(18, 53, 62);
  color:hwb(0 100% 0%);
  border-radius: 8px;
}

.assistant {
  background-color: #0c1e20;
  color: #ffffff;
  font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
  border-radius: 8px;
}

.input-box {
  resize: vertical; 
  width: 90%;
  padding: 10px;
  
  border-radius: 5px;
  margin-bottom: 10px;
  min-height: 40px;
  height: fit-content;
}

.input-container {
  display: flex;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: fit-content;
}

.submit-button {
  padding: 10px 25px;
  background-color: #3ba694;
  color: #fff;
  border:0in;
  border-radius: 5px;
  cursor: pointer;
  font-size: medium;
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}

.copy-button {
  position: relative;
  top: 8px;
  left: 2px;
  bottom: 2px;
  padding: 4px 8px;
  background: #95cec5;
  color: #140202;
  border: 1px solid #333;
  border-radius: 8px;
  cursor: pointer;
}

.answer {
  padding: 10px;
  background-color: #f8f9fa;
  border: 1px solid #ddd;
  border-radius: 5px;
}


.code-block-container {
  position: relative;
  border-radius: 10px;
  scrollbar-width: 3px;
  background-color: #fbf7f7;
}

.code-block-container pre {
  overflow: auto;
  scrollbar-width:1px;
  border-radius: 10px;
  
}

.code-block-container pre::-webkit-scrollbar {
  width: 2px;
  border-radius: 10px;
}

.code-block-container pre::-webkit-scrollbar-track {
  background: #fbf7f7;
  border-radius: 5px;
  scrollbar-width: thin;
}

.code-block-container pre::-webkit-scrollbar-thumb {
  background-color: #080808;
  border-radius: 4px;
  scrollbar-width: 3px;
}


.loader {
  border: 4px solid #f3f3f3;
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
} 

.model-dropdown {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.model-dropdown label {
  margin-right: 10px;
  font-weight: bold;
  color: #fff;
}

.model-dropdown select {
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #fff;
  color: #333;
  cursor: pointer;
}
